@import "Style.css";

#backGround {
    -fx-background-color: delftBlue;
}

#reaction {
    -fx-shape: "M -1 2 C -1 1 -1 1 0 1 L 22 1 L 24 0 L 26 1 L 28 1 C 29 1 29 1 29 2 L 29 10 C 29 11 29 11 28 11 L 0 11 C -1 11 -1 11 -1 10 L -1 2";
    -fx-border-color: black;
    -fx-padding: 1;
    -fx-border-width: 1.5;
}

#choiceOne, #choiceTwo, #choiceThree, #questionPane{
    -fx-background-color: darkBlue;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#choiceA, #choiceB, #choiceC {
    -fx-font-size: 14;
    -fx-text-fill: white;
}

#questionLabel {
    -fx-text-fill: white;
}

#typeLabel {
    -fx-text-fill: white;
}