@import "Style.css";

#scrollPane {
    -fx-border-color: #111111;
}

#upperPanel {
    -fx-background-color: #d6d6d6;
    -fx-border-color: #000000;
}

#lobbyLabel {
    -fx-font-size: 30;
}

#exitLobby, #startGame {
    -fx-border-color: #000000;
}

#exitLobby {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
}

#screen {
    -fx-background-color: delftBlue;
}

#startGame {
    -fx-background-color: linear-gradient(#baff70, #5bb000);
}